@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-size:13px;
    font-family: 'Open Sans';
}

.wrapper {
 margin: 0 auto;
 width: 32rem;
 padding: 2rem;
}

.wrapper span {
    color:#a4a4a4;
    font-size:1.1rem;
}

.header {
    text-align: center;
    font-weight: 600;
}

.header h1 {
    font-size:2.4rem;
    font-weight: bold;
    line-height: 6px;
}

.header .image {
    text-align: center;
}

.header .image img {
    border-radius:100%;
	height: 200px;
	margin: 0 auto;
	overflow:hidden;
	width: 210px;
    border:5px solid #4ba5f3
}

.header h1  {
    font-weight: bold;
}

.header .nickname {
    color:#e1e1e1;
    font-size:1.4rem;
}

main .content {
    width: 240px;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    line-height: 18px;
}

main h2 {
    color:#3c4b5a

}


main .social-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main .social-container h2 {
    color:#3f4e5d;
}

main .social-container span {
    font-size:1.9rem;
}



main .social-container #audience_size {
    font-size:2.4rem;
}

.facebook-container,
.instagram-container,
.youtube-container {
    text-align: center;
}

.facebook-container img,
.instagram-container img,
.youtube-container img{
    height: 2rem;
}

.facebook-container .score,
.instagram-container .score,
.youtube-container .score {
    color:#63add5;
    font-weight: 600;
}

.show {
    overflow: visible;
    height: auto;
}

span.btn-link {
    color: #35ade0;
}
span.btn-link:hover {
    cursor: pointer;
}

.text-score {
    color: #58b1d4;
    font-size:1.3rem;
}